<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#dashboard"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active"><i class="fa fa-calendar"></i>Minha Agenda</li>
    </ol>
</section>
<section class="content-body">
    <div class="panel panel-default col-md-12" >
        <div class="form-group row">
            <div class="col-md-12">
                <div  class="span8 calendar"  ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="agenda"></div>
            </div>
        </div>
    </div>
</section>
