<section class="content-header animated fadeInUp">
    <ol class="breadcrumb">
        <li><a href="#dashboard"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active"><i class="fa fa-ambulance"></i>Acesso restrito</li>
    </ol>
    <div class="col-md-12" >
    </div>
</section>
<section class="content-body">
    <div class="col-md-12">
        <h1 class="error-number">403</h1>
        <h2>Acesso restrito</h2>
        <p>Você não tem acesso a esse local do sistema.
        </p>
        <h1>
            <a href="#login"> Voltar para o sistema</a>
        </h1>
    </div>
</section>
