<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#privacidade"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active"><i class="fa fa-users"></i>Privacidade</li>
    </ol>
    <div class="col-md-6" >
        <div >

        </div>
    </div>
</section>
<section class="content-body" >
    <div class="panel panel-default col-md-12">
        <div class="panel-body ">

            <div class="form-group row">

                <p>O Sistema ApoioEscolar.info leva em consideração a importância da privacidade de nossos usuários deixando aqui claro como são utilizadas todas as informações e dados eventualmente recebidos.</p>
                <p>Nós reconhecemos e garantimos que em hipótese alguma serão divulgados qualquer tipo de dado eventualmente enviado à nós seja por formulário, e-mail, ou qualquer outro meio.</p>
                Dos Registros
                <p>Assim como acontece com Cookies e Web beacons, também recebemos registros de endereço IP, e seu ISP dependendo do provedor utilizado.</p>
                <p>Estes dados geralmente são utilizados apenas como dados estatísticos com base em local, data, e número de visitas e/ou visualizações recebidas de um determinado ip/isp.</p>
                Você tem o direito de não fornecer seus dados
                <p>Você como visitante e pessoa física ou jurídica tem o controle da própria privacidade, podendo a qualquer momento utilizando as funções de seu próprio navegador para “navegar anonimamente”. </p>

                <br>
                <p> The ApoioEscolar.info system takes into consideration the importance of the privacy of our users, making it clear how all the information and data that is eventually received is used. </p>
                <p> We acknowledge and warrant that in no case will any kind of information eventually be sent to us by form, e-mail, or any other means. </p>
                About Records
                <p> As with Cookies and Web beacons, we also receive IP address records, and your ISP depending on the provider you use. </p>
                <p> This data is generally used only as statistical data based on location, date, and number of visits and / or views received from a particular ip / isp. </p>
                You have the right not to provide your data
                <p> You as a visitor and individual or legal entity have the control of their own privacy, being able at any time using the functions of their own navigator to "navigate anonymously". </p>

            </div>


        </div>
    </div>

    <!--</form>-->

</section>

